.selectbutton {
  display: flex;
}

.selectbutton__common {
  width: 100px;
  border: 2px solid black;
  margin-right: -2px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}

.header__logout {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 50px !important;
}
